<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Login</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">

    <div class="row">
        <h2>POSEIDON INC </h2>
    </div>

    <form class="form-signin" method='POST' th:action="@{/login}">
        <div th:if="${success}" th:class="${alert}" >
            <div class="alert alert-success"> <b> Sign up successfully! </b></div>
        </div>

        <h6>Login with Username and Password </h6>

        <p class="errorMsg" th:if="${param.error}">Invalid username or password</p>
        <p class="errorMsg" th:if="${param.logout}">You have been logged out.</p>

        <label class="sr-only" for="inputUser">Username</label>
        <input autofocus class="form-control" name="username" id="inputUser" placeholder="Username" required type="text">
        <br>
        <label class="sr-only" for="inputPassword">Password</label>
        <input class="form-control" name="password" id="inputPassword" placeholder="Password" required type="password">
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-primary form-control" type="submit">Log in</button>
        <br><br>
        <a class="btn btn-primary form-control" href="/signup">Signup</a>
        <br><br>
        <a class="btn btn-primary form-control" th:href="@{/oauth2/authorization/google}">Login with Google</a>
        <br><br>
        <a class="btn btn-primary form-control" th:href="@{/oauth2/authorization/github}">Login with Github</a>
    </form>
    </div>

</div>
</body>
</html>
